body {
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-image: url("https://wallpapersok.com/images/hd/thera-greece-during-sunset-sbbsht63yakivbkb.jpg");
}

h1{
    text-align: center;
    color: white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 12px 20px 0 rgba(255, 218, 120, 0.5);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    background-color: #2A629A;
    box-shadow: 0 12px 20px 0 rgba(255, 218, 120, 0.5);
}

#title{
    width: 50%;
}

#bottom{
    width: 20%;
}

button{
    color: #f4f4f4;
    font-size: 30px;
    font-family: inherit;
    font-weight: 400;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #2A629A;
    box-shadow: 0 12px 20px 0 rgba(255, 218, 120, 0.2);
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 12px 20px 0 rgba(255, 218, 120, 0.5);
}

